* {
  margin: 0;
  padding: 0;
}
main {
  padding: 10px;
  margin-top: 70px;
}
h2 {
  font-size: 40px;
  margin-left: 15px;
}
#container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px;
  justify-content: center;
}
#container .item {
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 10px grey;
  cursor: pointer;
  padding: 10px;
  gap: 10px;
  border-radius: 5px;
  position: relative;
  transition: 0.3s;
}
#container .item:hover {
  box-shadow: 0 0 20px grey;
}
#container .item button {
  position: absolute;
  padding: 7px;
  right: 15px;
  bottom: 25px;
  width: 100px;
  border: none;
  border-radius: 10px;
  border: 1px solid #ee4561;
  background-color: #ee4561;
  color: white;
  transition: 0.3s;
  cursor: pointer;
}
#container .item button:hover {
  background-color: white;
  color: #ee4561;
}
#container .item > img {
  width: 300px;
  height: 300px;
  object-fit: contain;
}
