* {
  margin: 0;
  padding: 0;
}
main {
  padding: 10px;
}
h2 {
  font-size: 40px;
}
#container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px;
  justify-content: center;
}
#container .item {
  display: flex;
  flex-direction: column;
  box-shadow: 1px 2px 3px grey;
  cursor: pointer;
  padding: 10px;
  position: relative;
}
#container .item button {
  position: absolute;
  padding: 7px;
  right: 15px;
  bottom: 25px;
  width: 100px;
  border: none;
  border-radius: 10px;
  background-color: #ee4561;
  color: white;
  cursor: pointer;
}
#container .item button:hover {
  background-color: white;
  color: #ee4561;
  border: 1px solid #ee4561;
}
#container .item:hover {
  box-shadow: 4px 5px 5px grey;
}
#container .item > img {
  width: 300px;
  height: auto;
}
