html {
  scroll-behavior: smooth;
}
* {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}
.section {
  height: 200vh;
  display: flex;
  align-items: flex-end;
}
.section form {
  background-color: red;
}
