html {
  scroll-behavior: smooth;
}
* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}
main .collection {
  background-image: url(https://i.postimg.cc/t403yfn9/home2.jpg);
  background-position: center;
  background-size: cover;
  height: 100vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  letter-spacing: 5px;
}
main .collection article {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  max-height: 250px;
  height: 100%;
  align-items: start;
  margin-left: 5%;
}
main .collection article > :first-child {
  color: #ff3c78;
  font-size: 80%;
}
main .collection article h2 {
  font-size: 200%;
}
main .collection article :nth-child(3) {
  color: gray;
  font-size: 85%;
}
main .collection article input {
  border: 0;
  padding: 15px 25px;
  background-color: black;
  color: white;
  letter-spacing: 2px;
  font-size: 80%;
  transition: 0.3s;
}
main .collection article input:hover {
  cursor: pointer;
  background-color: #202020;
}
main .collection article ul {
  display: flex;
  width: 15%;
  justify-content: space-between;
}
main .collection article ul a {
  color: black;
}
