<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="header">
        <a href="../../index.html"><img src="https://i.postimg.cc/TP6JjSTt/logo.webp" alt="fashion logo"></a>    
        <div class="menu-toggle" id="menu-toggle">☰</div>
        <ul class="menu" id="menu">
            <li><a href="../../src/pages/category.html?product=shoe`" class="menu-link">Shoe</a></li>
            <li><a href="../pages/electronics.html">Electronics</a></li>
            <li><a href="../pages/accessories.html">Accessories</a></li>
            <li><a href="../../src/pages/contact.html">Contact</a></li>
        </ul>
    </div>
    <script src="../script/header.js"></script>
</body>
</html>